In [1]:
import pandas as pd

In [45]:
data = {
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9],
    "D": [10,11,12],
    "E": [0,0,15]
}

df = pd.DataFrame(data)

In [46]:
#displays right half of data

x = len(df.columns)
df.iloc[:, int(x/2):(x)]

   C   D   E
0  7  10   0
1  8  11   0
2  9  12  15

In [50]:
#finds all rows where "E" is 0

zeros = df[df.loc[:, "E"] == 0]

zeros

   A  B  C   D  E
0  1  4  7  10  0
1  2  5  8  11  0