In [1]:
#imports pandas with the variable name "p"
import pandas as p

In [2]:
#imports file as a dataframe named "df"
#file MUST be in same folder as jupiternotebook file in order to call name
df = p.read_csv('pirates.csv')

In [3]:
# head(int) displays the first howevermany rows
# tail(int) displays the last howevermany rows
df.head(5)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [5]:
nonNullCount = df.notna().sum()

nonNullCount

id                 1000
sex                1000
age                 999
height             1000
weight             1000
headband            999
college            1000
tattoos            1000
tchests            1000
parrots            1000
favorite.pirate     999
sword.type         1000
eyepatch           1000
sword.time          999
beard.length       1000
fav.pixar          1000
grogg              1000
dtype: int64

In [6]:
indexWithNulls = []
missingValues = []

for col in df.columns:
    for row in range(len(df["id"])):
        if p.isna(df.loc[row, col]):
            indexWithNulls.append(row)
            missingValues.append([row,col])
            print("missing data at " + str(col) + ", row " + str(row+1))

missing data at age, row 34
missing data at headband, row 1000
missing data at favorite.pirate, row 635
missing data at sword.time, row 137

In [24]:
#deleted rows with missing information

df_Modified_0 = df

for i in range(len(indexWithNulls)):
    df_Modified_0 = df_Modified_0.drop(indexWithNulls[i])

df_Modified_0.reset_index(drop=True, inplace=True)

df_Modified_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               996 non-null    int64
 1   sex              996 non-null    object
 2   age              996 non-null    float64
 3   height           996 non-null    float64
 4   weight           996 non-null    float64
 5   headband         996 non-null    object
 6   college          996 non-null    object
 7   tattoos          996 non-null    int64
 8   tchests          996 non-null    int64
 9   parrots          996 non-null    object
 10  favorite.pirate  996 non-null    object
 11  sword.type       996 non-null    object
 12  eyepatch         996 non-null    int64
 13  sword.time       996 non-null    float64
 14  beard.length     996 non-null    int64
 15  fav.pixar        996 non-null    object
 16  grogg            996 non-null    int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.4+ KB

In [22]:
#found mode or average of row with missing information and added it to missing spot

df_Modified_1 = df

for i in range(len(missingValues)):
    if isinstance(df[missingValues[i][1]][0], float):
        df_Modified_1.at[missingValues[i][0], missingValues[i][1]] = df[missingValues[i][1]].mean()
    else:
        df_Modified_1.at[missingValues[i][0], missingValues[i][1]] = df[missingValues[i][1]].mode()[0]
        

print(df_Modified_1.loc[missingValues[0][0], missingValues[0][1]])
print(df_Modified_1.loc[missingValues[1][0], missingValues[1][1]])
print(df_Modified_1.loc[missingValues[2][0], missingValues[2][1]])
print(df_Modified_1.loc[missingValues[3][0], missingValues[3][1]])

27.357
yes
Jack Sparrow
2.543210000000002