In [1]:
#imports pandas with the variable name "p"
import pandas as p

#allows use of random number generators
import random

In [2]:
#imports file as a dataframe named "df"
#file MUST be in same folder as jupiternotebook file in order to call name
df = p.read_csv('pirates.csv')

In [52]:
# head(int) displays the first howevermany rows
# tail(int) displays the last howevermany rows
df.head(5)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [5]:
nonNullCount = df.notna().sum()

nonNullCount

id                 1000
sex                1000
age                 999
height             1000
weight             1000
headband            999
college            1000
tattoos            1000
tchests            1000
parrots            1000
favorite.pirate     999
sword.type         1000
eyepatch           1000
sword.time          999
beard.length       1000
fav.pixar          1000
grogg              1000
dtype: int64

In [6]:
missingValues = []

for col in df.columns:
    for row in range(len(df["id"])):
        if p.isna(df.loc[row, col]):
            missingValues.append([row,col])
            print("missing data at " + str(col) + ", index " + str(row))

missing data at age, index 33
missing data at headband, index 999
missing data at favorite.pirate, index 634
missing data at sword.time, index 136

In [7]:
#deleted rows with missing information

df_Modified_0 = df

for i in range(len(missingValues)):
    df_Modified_0 = df_Modified_0.drop(missingValues[i][0])

df_Modified_0.reset_index(drop=True, inplace=True)

df_Modified_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               996 non-null    int64
 1   sex              996 non-null    object
 2   age              996 non-null    float64
 3   height           996 non-null    float64
 4   weight           996 non-null    float64
 5   headband         996 non-null    object
 6   college          996 non-null    object
 7   tattoos          996 non-null    int64
 8   tchests          996 non-null    int64
 9   parrots          996 non-null    object
 10  favorite.pirate  996 non-null    object
 11  sword.type       996 non-null    object
 12  eyepatch         996 non-null    int64
 13  sword.time       996 non-null    float64
 14  beard.length     996 non-null    int64
 15  fav.pixar        996 non-null    object
 16  grogg            996 non-null    int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.4+ KB

In [8]:
#find mode or average of row with missing information and added it to missing spot

df_Modified_1 = df

for i in range(len(missingValues)):
    if isinstance(df[missingValues[i][1]][0], float):
        df_Modified_1.at[missingValues[i][0], missingValues[i][1]] = df[missingValues[i][1]].mean()
    else:
        df_Modified_1.at[missingValues[i][0], missingValues[i][1]] = df[missingValues[i][1]].mode()[0]
        

print(df_Modified_1.loc[missingValues[0][0], missingValues[0][1]])
print(df_Modified_1.loc[missingValues[1][0], missingValues[1][1]])
print(df_Modified_1.loc[missingValues[2][0], missingValues[2][1]])
print(df_Modified_1.loc[missingValues[3][0], missingValues[3][1]])

27.35735735735736
yes
Jack Sparrow
2.545165165165167

In [9]:
#Challenge 4.1 - how many genders represented

genderCount = []

for i in range(len(df_Modified_0["sex"])):
    gender = df_Modified_0.loc[i, "sex"]
    if gender not in genderCount:
        genderCount.append(gender)
        
print(str(len(genderCount)) + " genders are represented in the data: ")
for i in range(len(genderCount)):
    print(genderCount[i])

3 genders are represented in the data:
male
female
other

In [10]:
#Challenge 4.2a and 4.2b - average age of a pirate and average age of female pirates

avgAge = df_Modified_0["age"].mean()
print("the average age was " + str(avgAge))


avgFemaleAge = 0
femaleAges = []

for i in range(len(df_Modified_0["sex"])):
    gender = df_Modified_0.loc[i, "sex"]
    if gender == "female":
        femaleCount += 1
        femaleAges.append(df_Modified_0.loc[i, "age"])
        
avgFemaleAge = sum(femaleAges)/len(femaleAges)

#Shorthand way of doing it
#avgFemaleAge = df_Modified_0["age"][df_Modified_0["sex"] == "female"].mean()

print("the average female age was " + str(avgFemaleAge))

the average age was 27.3714859437751
the average female age was 29.932900432900432

In [11]:
#challenge 4.3 - what % of pirates were over 100 lbs
#dataset is in kg, 1 kg = 2.2 lbs

#function converts lbs to kg
def convertToKg(lbs):
    conversion = lbs/2.2
    return conversion

countUnder100 = 0
percentUnder100 = 0

for i in range(len(df_Modified_0["weight"])):
    weight = df_Modified_0.loc[i, "weight"]
    if weight < convertToKg(100):
        countUnder100 += 1
        
percentUnder100 = (countUnder100/len(df_Modified_0["weight"]))*100

print(str(percentUnder100) + "% weighed less than 100lbs")

SyntaxError: invalid syntax (2053895431.py, line 21)

In [26]:
#challenge 5.1 - shortest pirate

shortestHeight = df_Modified_0["height"].min()

#finds the index of the minimum in "height" 
shortestID = df_Modified_0["height"].idxmin() + 1

print("the id of the shortest pirate is " + str(shortestID) + " with a height of " + str(shortestHeight) + " cm")

the id of the shortest pirate is 38 with a height of 129.83 cm

In [30]:
#challenge 5.2 - heaviest pirate 

greatestWeight = df_Modified_0["weight"].max()

#finds the index of the maximum in "weight"  
heaviestID = df_Modified_0["height"].idxmax() + 1

print("the id of the heaviest pirate is " + str(heaviestID) + " with a weight of " + str(greatestWeight) + " kg")

the id of the heaviest pirate is 2 with a weight of 105.6 kg

In [34]:
#challenge 5.3 - most popular movie

favMovie = df_Modified_0["fav.pixar"].mode()[0]

print("the most popular favorite movie was " + favMovie)

the most popular favorite movie was Inside Out

In [37]:
#challenge 6.1a and 6.1b - average and median number of eyepatches worn

avgEyepatch = df_Modified_0["eyepatch"].mean()
medianEyepatch = df_Modified_0["eyepatch"].median()

print("avg number of eyepatches worn was " + str(avgEyepatch) + "and the median number was " + str(medianEyepatch))

avg number of eyepatches worn was 0.6576305220883534and the median number was 1.0

In [57]:
#challenge 6.2a and 6.2b - avg number of parrots owned and median owned

remove = "\""

# avgParrot = df_Modified_0["parrots"].mean()
# medianParrot = df_Modified_0["parrots"].median()

# print("avg number of parrots owned was " + str(avgParrots) + "and the median number was " + str(medianParrots))

"