In [1]:
piratesByCol = {
    "Name": ["Edward Teach","Anne Bonny","John Rackham",
             "Cheung Po Tsai","Grace O'Malley","Mary Read","Sayyida al Hurra",
             "Zheng Yi Sao","Francis Drake","Jean Lafiette"],
    "Years Active": [[1716,1718],[1718,1720],[1718,1720],
                     [1798,1810],[1564,1595],[1708,1721],
                     [1515,1545],[1801,1810],[1563,1596],[1810,1823]],
    "Territory": ["Caribbean","Caribbean","Caribbean","South China Sea",
                  "British Isls","Caribbean","Mediteranian",
                  "South China Sea","Caribbean","Gulf of Mexico"],
    "Ailias": ["Blackbeard","","Calico Jack","The Kid","Queen of Ireland","Mark",
               "Hakimat Titwan","Ching Shih","Sir Francis Drake","Terror of the Gulf"]
}

piratesByRow = {
    "Name": ["Years Active","Territory","Ailias"],
    "Edward Teach":[[1716,1718],"Caribbean","Blackbeard"],
    "Anne Bonny":[[1718,1720],"Caribbean",""],
    "John Rackham":[[1718,1720],"Caribbean","Calico Jack"],
    "Cheung Po Tsai":[[1798,1810],"South China Sea","The Kid"],
    "Grace O'Malley":[[1564,1595],"British Isls","Queen of Ireland"],
    "Mary Read":[[1708,1721],"Caribbean","Mark"],
    "Sayyida al Hurra":[[1515,1545],"Mediteranian","Hakimat Titwan"],
    "Zheng Yi Sao":[[1801,1810],"South China Sea","Ching Shih"],
    "Francis Drake":[[1563,1596],"Caribbean","Sir Francis Drake"],
    "Jean Lafiette":[[1810,1823],"Gulf of Mexico","Terror of the Gulf"]
}

In [2]:
#challenge 2.1 by column

col_PiratesIn18th = 0
currentPirate = 0

for list in piratesByCol["Years Active"]:
    if piratesByCol["Territory"][currentPirate] == "Caribbean":
        if list[0] >= 1700 and list[0] <= 1799:
            col_PiratesIn18th += 1
        elif list[1] >= 1700 and list[1] <= 1799:
            col_PiratesIn18th += 1    
    currentPirate += 1
        
print(str(col_PiratesIn18th) + " pirates sailed the Caribbean in the 18th century")

4 pirates sailed the Caribbean in the 18th century

In [3]:
#challenge 2.1 by row

row_PiratesIn18th = 0

for pirate in piratesByRow:
    if pirate != "Name" and piratesByRow[pirate][1] == "Caribbean":
        if piratesByRow[pirate][0][0] >= 1700 and piratesByRow[pirate][0][0] <= 1799:
            row_PiratesIn18th += 1
        elif piratesByRow[pirate][0][1] >= 1700 and piratesByRow[pirate][0][1] <= 1799:
            row_PiratesIn18th += 1
        
print(str(row_PiratesIn18th) + " pirates sailed the Caribbean in the 18th century")

4 pirates sailed the Caribbean in the 18th century

In [4]:
#challenge 2.2 by column

col_LongestCareerPirate = ""
col_LongestCareer = 0

currentIndex = 0

for list in piratesByCol["Years Active"]:
    careerLength = list[1] - list[0]
    if careerLength > col_LongestCareer:
        col_LongestCareer = careerLength
        col_LongestCareerPirate = piratesByCol["Name"][currentIndex]
    currentIndex += 1
        
print(col_LongestCareerPirate + " had the longest career at " + str(col_LongestCareer) + " years")

Francis Drake had the longest career at 33 years

In [5]:
#challenge 2.2 by row

row_LongestCareerPirate = ""
row_LongestCareer = 0

for pirate in piratesByRow:
    if pirate != "Name":
        careerLength = piratesByRow[pirate][0][1] - piratesByRow[pirate][0][0]
    if careerLength > row_LongestCareer:
        row_LongestCareer = careerLength
        row_LongestCareerPirate = pirate

print(row_LongestCareerPirate + " had the longest career at " + str(row_LongestCareer) + " years")

Francis Drake had the longest career at 33 years

In [6]:
#challenge 2.3 by col

col_CareerLengthTotal = 0
col_careerLengthAvg = 0

for list in piratesByCol["Years Active"]:
    careerLength = list[1] - list[0]
    col_CareerLengthTotal += careerLength

col_CareerLengthAvg = col_CareerLengthTotal/10

print("Average career length was " + str(col_CareerLengthAvg) + " years")

Average career length was 14.7 years

In [7]:
#challenge 2.3 by row

row_CareerLengthTotal = 0
row_careerLengthAvg = 0

for pirate in piratesByRow:
    if pirate != "Name":
        careerLength = piratesByRow[pirate][0][1] - piratesByRow[pirate][0][0]
        row_CareerLengthTotal += careerLength
        
row_CareerLengthAvg = row_CareerLengthTotal/10

print("Average career length was " + str(row_CareerLengthAvg) + " years")

Average career length was 14.7 years

In [8]:
#challenge 3: combine this dictionary with the one from last class

#dictionary from last class
pirates = {
    "Name": ["Blackbeard","Anne Bonny","Calico Jack","Cheung Po Tsai","Grace O'Malley","Mary Read",
             "Sayyida al Hurra","Ching Shih","Sir Francis Drake","Jean Lafitte"],
    "Sex": ["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "AgeAtDeath": [40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height": [6.4, 5.6, 5.6, 5.3, 5.0, 5.1, "NOT RECORDED", 5.3, 5.5, 6.2],
    "Skull&Crossbones": [False, True, True, False, False, True, False, False, False, False]
}

name = piratesByCol["Name"]
ailias = piratesByCol["Ailias"]
sex = pirates["Sex"]
height = pirates["Height"]
career = piratesByCol["Years Active"]
ageAtDeath = pirates["AgeAtDeath"]
territory = piratesByCol["Territory"]
skullAndCrossbones = pirates["Skull&Crossbones"]

combinedDict = {
    "Name": name,
    "Ailias": ailias,
    "Sex": sex,
    "Height": height,
    "Career": career,
    "Age At Death": ageAtDeath,
    "Territory": territory,
    "Skull & Crossbones": skullAndCrossbones
}

combinedDict

{'Name': ['Blackbeard',
  'Anne Bonny',
  'Calico Jack',
  'Cheung Po Tsai',
  "Grace O'Malley",
  'Mary Read',
  'Sayyida al Hurra',
  'Ching Shih',
  'Sir Francis Drake',
  'Jean Lafitte'],
 'Ailias': ['Blackbeard',
  '',
  'Calico Jack',
  'The Kid',
  'Queen of Ireland',
  'Mark',
  'Hakimat Titwan',
  'Ching Shih',
  'Sir Francis Drake',
  'Terror of the Gulf'],
 'Sex': ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M'],
 'Height': [6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 'NOT RECORDED', 5.3, 5.5, 6.2],
 'Career': [[1716, 1718],
  [1718, 1720],
  [1718, 1720],
  [1798, 1810],
  [1564, 1595],
  [1708, 1721],
  [1515, 1545],
  [1801, 1810],
  [1563, 1596],
  [1810, 1823]],
 'Age At Death': [40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
 'Territory': ['Caribbean',
  'Caribbean',
  'Caribbean',
  'South China Sea',
  'British Isls',
  'Caribbean',
  'Mediteranian',
  'South China Sea',
  'Caribbean',
  'Gulf of Mexico'],
 'Skull & Crossbones': [False,
  True,
  True,
  False,
  False,
  True,
  False,
  False,
  False,
  False]}